@use "variables" as *;
@use "typography" as *;

// BREAKPOINT MIXINS

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// TEXT-STYLE MIXINS

@mixin text__page-header {
  font-family: Segoe-Regular;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 400;

  @include tablet() {
    font-size: 4.5rem;
    line-height: 2.5rem;
  }
}

@mixin text__subheader {
  font-family: Segoe-Regular;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;

  @include tablet() {
    font-size: 3.25rem;
    line-height: 3rem;
  }
}

@mixin text__links {
  font-family: Segoe-Regular;
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 400;

  @include tablet() {
    font-size: 1.975rem;
    line-height: 1.375rem;
  }
}

@mixin text__table-header {
  font-family: Segoe-Bold;
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 600;

  @include tablet() {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

@mixin text__body-large {
  font-family: Segoe-Regular;
  font-size: 0.938rem;
  line-height: 1.625rem;
  font-weight: 400;

  @include tablet {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

@mixin text__body-medium {
  font-family: Segoe-Regular;
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin text__body-small {
  font-family: Segoe-Regular;
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}