@use "./partials/elements" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

.background {
    padding: 5rem 1rem 2rem;
    background: #B7BFD1;
    height: 40rem;
    height: 95vh;
}

.ms-image {
    background-size: cover;
    height: 100%;
    padding: 1rem;
    height: 100%;
}
