.video {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-indv {
            &-1 {
                background-image: url("../../assets/images/avatar/unsplash_kzZ7DCWausY.png");
                background-size: cover;
                width: 20rem;
                height: 20rem;
                border-radius: 1rem 0 0 0;
            }

            &-2 {
                background-image: url("../../assets/images/avatar/unsplash_u-SVq2e5PwU.png");
                background-size: cover;
                width: 20rem;
                height: 20rem;
            }
            &-3 {
                background-image: url("../../assets/images/avatar/unsplash_5K4ZAOMENnY.png");
                background-size: cover;
                width: 20rem;
                height: 20rem;
                border-radius: 0 1rem 0 0;
            }
            &-4 {
                background-image: url("../../assets/images/avatar/unsplash_95UF6LXe-Lo.png");
                background-size: cover;
                width: 20rem;
                height: 20rem;
                border-radius: 0 0 0 1rem;
            }
            &-5 {
                background-image: url("../../assets/images/avatar/unsplash_KFnvB2ERiwI.png");
                background-size: cover;
                width: 20rem;
                height: 20rem;
            }
            &-6 {
                background-image: url("../../assets/images/avatar/unsplash_oTweoxMKdkA.png");
                background-size: cover;
                width: 20rem;
                height: 20rem;
                border-radius: 0 0 1rem 0;
            }
        }
    }

    &__content {
        margin: 0 10rem;

        &-header {
            padding-top: 2rem;
            font-weight: 600;
        }

        &-paragraph {
            padding-top: 1rem;
            font-style: italic;
        }
    }

    &__tools {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-icons {
            padding-top: 2rem;
            width: 100%;

            img {
                height: 3rem;
                width: 3rem;
            }
        }
    }

    &__timer {
        height: 1rem;
        display: flex;
        width: 100%;
        position: relative;

        &-link {
            color: #fff;
        }

        span {
            position: absolute;
            right: 0px;
        }
    }
}

.corner {
    &__left {
        &-top {
            border-radius: 0.75rem 0 0 0;
        }

        &-bottom {
            border-radius: 0 0 0 0.75rem;
        }
    }

    &__right {
        &-top {
            border-radius: 0 0.75rem 0 0;
        }

        &-bottom {
            border-radius: 0 0 0.75rem 0;
        }
    }
}
