.discuss {
    background-color: #ededed;
    border: 2px solid #afafaf;
    border-radius: 0.5rem;
    padding: 3rem;
    margin: 0 7.5rem;

    &__content {
        color: #646464;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &-paragraph {
            font-style: italic;
        }

        &-buttons {
            display: flex;
            justify-content: space-around;

            &-indv {
                border: 1px solid #afafaf;
                border-radius: 0.5rem;
                padding: 0.75rem 0.5rem;
                color: #646464;
            }
        }
    }
}
