.discuss {
    background-color: #ededed;
    border: 2px solid #afafaf;
    border-radius: 0.5rem;
    padding: 5.5rem 2.75rem;
    margin: 0 7.5rem;

    &__content {
        color: #646464;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 3.85rem;

        &-paragraph {
            font-style: italic;
            font-size: 2rem;
            line-height: 2.25rem;
        }

        &-buttons {
            display: flex;
            justify-content: space-around;

            &-indv {
                border: 1px solid #afafaf;
                border-radius: 0.5rem;
                padding: 0.75rem 0.5rem;
                color: #646464;
                text-decoration: none;
            }
        }
    }

    &__hover {
        &:hover {
            cursor: pointer;
            transform: scale(1.05)
        }
    }
}
